<%- include('../partials/head', { useBootstrap: true, useGoogleFonts: false }) %>

    <%- include('../partials/logo', { type: 'mini' }) %>

    <% if (typeof toast !== "undefined" && toast) { %>
        <script>
          window.__TOAST__ = {
            message: "<%= toast.message %>",
            type: "<%= toast.type %>"
          }
        </script>
    <% } %>

    <div id="toast" class="toast"></div>

    <section class="min-vh-100 bg-custom">
        <div class="container py-1 h-100">
            <div class="row d-flex justify-content-center align-items-center w-100 h-100">
                <div class="col-md-12">

                    <div class="bg-dark text-white inner-container" style="border-radius: 1rem; 
                                                            background-color:#24242C;
                                                            box-shadow: 3px 3px 2px #24242C;">
                        <div class="mb-md-5 mt-md-4 px-5 py-5">

                            <h2 class="fw-bold mb-2 text-uppercase">
                                Add new user
                            </h2>

                            <form action="/admin/new-user" method="post" id="form" enctype="multipart/form-data">
                            
                                <div class="form-outline form-white mb-3">
                                    <label class="form-label" for="name">Name</label>
                                    <% if(typeof name !=='undefined'){%>
                                    <input type="text" id="name" class="form-control form-control-lg" name="name" 
                                        value="<%=name%>" required />
                                    <%}else{%>
                                        <input type="text" id="name" class="form-control form-control-lg" name="name" required />
                                    <%}%>
                                </div>
                                <div id="error1" style="display: none;" class="alert alert-danger err"></div>

                                <div class="form-outline form-white mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <% if(typeof email !=='undefined'){%>
                                    <input type="email" id="email" class="form-control form-control-lg" name="email"
                                         value="<%=email%>" required />
                                    <%}else{%>
                                    <input type="email" id="email" class="form-control form-control-lg" name="email" required />
                                    <%}%>
                                </div>
                                <div id="error2" style="display: none;" class="alert alert-danger err"></div>

                                <div class="form-outline form-white mb-3">
                                    <label class="form-label" for="mobile">Mobile</label>
                                    <% if(typeof mobile !=='undefined'){%>
                                    <input type="tel" id="mobile" class="form-control form-control-lg" name="mno"
                                         value="<%=mobile%>" required />
                                    <%}else{%>
                                    <input type="tel" id="mobile" class="form-control form-control-lg" name="mno" required />
                                    <%}%>
                                </div>
                                <div id="error3" style="display: none;" class="alert alert-danger err"></div>

                                <div class="form-outline form-white mb-3 password-wrapper">
                                    <label class="form-label" for="password">Password</label>
                                    <input type="password" id="password" class="form-control form-control-lg" name="password" required/>
                                
                                    <span class="toggle-password password-black" id="togglePassword" style="top: 16px;">
                                        <svg id="eyeOpen" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-width="2"
                                                d="M2 12s3.6-7 10-7 10 7 10 7-3.6 7-10 7-10-7-10-7z"/>
                                            <circle cx="12" cy="12" r="3" stroke="currentColor" stroke-width="2"/>
                                        </svg>
                                    
                                        <svg id="eyeClosed" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" style="display:none;">
                                            <path stroke="currentColor" stroke-width="2"
                                                d="M3 3l18 18M10.6 10.6A3 3 0 0012 15a3 3 0 002.4-4.4M9.9 4.2A10.9 10.9 0 0112 5c6.4 0 10 7 10 7a18.6 18.6 0 01-3.2 4.4M6.2 6.2C3.9 8 2 12 2 12s3.6 7 10 7a9.6 9.6 0 004.2-.9"/>
                                        </svg>
                                    </span>
                                </div>
                                <p><div id="error4" style="display: none;" class="alert alert-danger err"></div></p>

                                <div class="file">
                                    <input type="file" name="image" id="file" accept="image/*">
                                    <label class="form-label file-label" for="file">Upload Profile Picture (optional, recommended)</label>
                                </div>

                                <img src="" height="50px" width="50px" id="profilePreview"
                                            style="display:none; border-radius: 25px; outline: 2px solid #F3387F;"/>
                                <p id="img-error" style="display: none;"></p>

                                <div class="dashboard-controls" style="margin-block: 8px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-outline-info btn-lg px-5 page-cta-primary" type="submit" id="submitBtn">
                                        Add New User
                                    </button>

                                    <a href="/admin/logout" class="btn btn-outline-light btn-lg px-5 page-out" 
                                        style="border-color: #A52968; font-size: 18px;">
                                            Logout
                                    </a>
                                </div>

                                <a href="/admin/dashboard" class="mt-5" style="text-decoration: none; margin-top: 1rem;">
                                    ← Go Back
                                </a>

                            </form>

                            <% if (typeof message !== 'undefined') { %>
                                <p style="color:red;"><%= message %></p>
                            <% } %>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

<%- include("../partials/footer", {
    scripts: `
        <script src="/public/js/togglePassword.js"></script>
        <script src="/public/js/validation.js"></script>
        <script src="/public/js/imgPreviewAndValidate.js"></script>
        <script src="/public/js/submitLoading.js"></script>
        <script src="/public/js/toast.js"></script>
    `
}) %>
