
<%- include('../partials/head', { useBootstrap: false, useGoogleFonts: true }) %>

    <% if (toast) { %>
        <script>
        window.__TOAST__ = {
            message: "<%= toast.message %>",
            type: "<%= toast.type %>"
        }
        </script>
    <% } %>

    <div id="toast" class="toast"></div>

    <div class="container">
        <div class="pic2"></div>
        <img src="/public/Images/logo1.png" alt="Welcome">
        <h1>Log in To Continue</h1>
        
        <form action="/" method="post" id="form" >
        
            <div class="inp-parent">
                <div class="inp">
                    <input type="email" id="email" name="email" required>
                    <label onclick="focusinp('usr')" for="email">Email</label>
                </div>
                <span id="error1" style="display: none;" class="alert alert-danger err"></span>
           </div>
       
            <div>
                <div class="inp">
                    <input type="password" id="password" name="password" required>
                    <label onclick="focusinp('pass')" for="password">Password</label>
                </div>
                <span id="error2" style="display: none;" class="alert alert-danger err"></span>
            </div>
       
           <input type="submit" value="login" id="submit"></input>
        </form>

        <a  onclick="myFunction()" href="/register?admin=false">Dont have a account? Sign up</a>
        <br><br><br><br><br><br>
        <% if(typeof message !== 'undefined'){ %>
            <h4 style="color:red;"> <%= message %> </h4>
        <% } %>

        <div class="admin-switch">
            <p class="admin-text" style="font-size: 14px; color: whitesmoke; letter-spacing: 0.7px;">Are you an admin?</p>
            <a href="/admin" class="admin-btn">Go to Admin Panel</a>
        </div>

    </div>
    <div class="pic">
    </div>

<%- include("../partials/footer", {
    scripts: `
        <script src="/public/js/login.js"></script>
        <script src="/public/js/toast.js"></script>
    `
}) %>